---
const { route } = Astro.props;
---
<header class="bg-secondary fixed top-0 w-full shadow-lg z-40">
  <nav class="max-w-[1080px] mx-auto md:flex justify-between align-center">
    <div class="flex w-full md:w-auto align-center justify-between px-2 md:px-0 py-5">
      <div class="text-xl italic text-primary mx-3 font-medium">
        <a href="/" class="flex items-center">
          <img src="/assets/logo.svg" alt="starblab icon logo" class="w-6 h-6 mr-1">
          starb<span class="text-white font-thin">lab</span>
        </a>
      </div>
      <div class="toggle block md:hidden cursor-pointer text-white">
        <svg width="32" height="32" viewBox="0 0 16 16"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"/></svg>
      </div>
    </div>
    <ul id="links" class="hidden md:flex items-center menu flex-col md:flex-row text-sm text-white">

      <li class={["mx-4 hover:text-primary duration-200 mt-4 mb-2 md:my-0", route=="/"?"active":""].join(' ')}><a href="/">HOME</a></li>
      <li class={["mx-4 hover:text-primary duration-200 mt-4 mb-2 md:my-0", route=="/portfolio"?"active":""].join(' ')}><a href="/portfolio">PORTFOLIO</a></li>

      <li class={["mx-4 hover:text-primary duration-200 mt-4 mb-2 md:my-0", route=="/about"?"active":""].join(' ')}><a href="/about">ABOUT</a></li>
      <li class={["mx-4 hover:text-primary duration-200 mt-4 mb-2 md:my-0", route=="/contact"?"active":""].join(' ')}><a href="/contact">CONTACT</a></li>
    </ul>
  </nav>
</header>
<div class="nav-blocker hidden fixed z-30 top-0 h-screen w-full bg-black opacity-80"></div>
<script>
const menu = document.querySelector('.menu');
const blocker = document.querySelector('.nav-blocker');

document.querySelector('.toggle').addEventListener('click', () => { activateMenu(); });
document.querySelector('.nav-blocker').addEventListener('click', () => { activateMenu(); });

function activateMenu(){
  menu.classList.toggle('active');
  blocker.classList.toggle('active');

}
</script>
<style>
  .menu.active {
    display: flex;
  }
  .nav-blocker.active {
    display: block;
  }
  #links li {
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
  }
  #links li.active {
    text-decoration-line: underline;
  }
</style>
