<div class="flex justify-center items-center mt-10 text-lg">
  <div class="h-8 w-8 flex justify-center items-center font-extrabold rounded-full text-primary mr-3 hover:bg-secondary duration-200"><</div>
  <div class="text-secondary flex">
    <div class="mx-3 h-8 w-8 bg-primary text-white flex rounded-xl rounded-full justify-center items-center">1</div>
    <div class="mx-3 h-8 w-8 hover:bg-primary hover:text-white duration-200 flex rounded-full justify-center items-center">2</div>
    <div class="mx-3 h-8 w-8 hover:bg-primary hover:text-white duration-200 flex rounded-full justify-center items-center">3</div>
    <div class="mx-3 h-8 w-8 hover:bg-primary hover:text-white duration-200 flex rounded-full justify-center items-center">4</div>
  </div>
  <div class="h-8 w-8 flex justify-center items-center font-extrabold rounded-full text-primary mr-3 hover:bg-secondary duration-200">></div>
</div>
