---
import Footer from "../components/footer.astro";
import Nav from "../components/navigation.astro";
const { title, route, mTitle, mDesc, mTag } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="assets/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={ mTitle ? mTitle : 'Starlab is Company Profile Website' }>
    <meta name="description" content={ mDesc ? mDesc : 'Startlab is template or layout company profile website for strbagus portfolio' }>
    <meta name="author" content="strbagus">
    <meta name="keywords" content="Starlab, strbagus, template, layout, company profile, website">
    <meta name="tag" content={ mTag ? mTag : 'StarbLab' }>
    <meta name="og:title" content={ mTitle ? mTitle : 'Starlab is Company Profile Website' }>
    <meta name="og:description" content={ mDesc ? mDesc : 'Startlab is template or layout company profile website for strbagus portfolio' }>
    <meta name="og:url" content={ Astro.url }>
    <meta name="og:site_name" content="StarbLab Compro">
    <meta name="og:image" content="/assets/image/eduardo-dutra.webp">

    <title>{ title!=="StarbLab" ? title+" - StarbLab" : title }</title>
    <style is:global>
      .unselectable {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        user-select: none;
      }
      .ar-32 {
        aspect-ratio: 3/2;
      }
    </style>
	</head>
  <body>
    <Nav/>
    <slot />
    <Footer />
	</body>
</html>
